.products-card {
  display: flex;
  flex-direction: column;
  min-height: 435px;
  padding: 32px 24px;
  background-color: var(--color-light-gray);

  &__body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 12px;
    margin-top: auto;
  }

  &__link {
    display: inline-flex;
    align-items: center;
    column-gap: 8px;
    font-size: 20px;
    line-height: 1.2;
    color: var(--color-accent);
  
    &:focus-visible {
      outline: var(--outline);
      outline-offset: 0;
    }

    @include hover {
      opacity: .8;
    }

    &:active {
      color: darken(#607ce6, 15%);
    }
  }
}