.footer {
  padding-block: 56px 24px;
  color: var(--color-light);
  background-color: var(--color-dark);

  &__body {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 56px;
  }

  &__logo {
    &:focus-visible {
      outline: var(--outline);
      outline-color: var(--color-light);
      outline-offset: 0;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 180px);
    column-gap: var(--gap);
  }

  &__links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 24px;
  }

  &__links-item-link {
    &:focus-visible {
      outline: var(--outline);
      outline-color: var(--color-light);
      outline-offset: 0;
    }

    @include hover {
      color: var(--color-accent);
    }

    &:active {
      color: darken(#607ce6, 15%);
    }
  }

  &__copyright {
    text-align: center;
    padding-top: 16px;
    font-size: 14px;
    line-height: 1.2;
    text-transform: uppercase;
  }
}