<section class="section">
  <div class="section__inner container">
    <header class="section__header">
      <h2 class="section__header">О предприятии</h2>
    </header>
    <div class="section__body">
      <div class="about">
        <div class="about__description">
          <p>
            За 20 лет развития в структуре завода сформирован мощный
            производственный потенциал, научно-технический центр, испытательная
            лаборатория, современная база, учебный центр и широкая сеть
            региональных и международных представительств в Российской
            Федерации, Республике Беларусь, Узбекистане и Казахстане.
          </p>
          <p>
            В номенклатуре выпускаемой НПП «ПИОНЕР» продукции найдется все, что
            необходимо для успешного решения задачи автоматизации
            технологических процессов на любом предприятии. Все средства
            измерения производства «ПИОНЕР» внесены в Государственный реестр
            СИ и имеют необходимые разрешительные документы.
          </p>
          <p>
            Ежегодно НПП «ПИОНЕР» реализует несколько проектов по модернизации
            серийных и разработке новых приборов, призванные в наибольшей
            степени удовлетворять возрастающие требования наших заказчиков.
          </p>
        </div>
        <div class="about__images">
          <img src="./img/about/1.webp" alt="Столяр" loading="lazy" />
          <img src="./img/about/2.webp" alt="Кузовы машин" loading="lazy" />
        </div>
      </div>
    </div>
  </div>
</section>
