<section class="section">
  <div class="section__inner container">
    <header class="section__header">
      <h1 class="section__title">Российский завод силовых машин</h1>
      <p class="section__description">
        научно-производственное предприятие, занимающееся разработкой и
        производством силовых машин.
      </p>
    </header>
    <div class="section__body">
      <div class="hero">
        <img
          class="hero__image"
          src="./img/hero/hero.webp"
          alt="Российский завод силовых машин"
          loading="lazy"
        />
      </div>
    </div>
  </div>
</section>